@media   (orientation:portrait ) {
  /*!=======*HEADER========*/
    .header {
        height: 60vh;
      }

    .a-propos {
        height: 40vh;
        width: 100vw;
        max-width: 100%;
        max-height: 100%;
    }

    .propos-img {
        width: 400px;
        height: 200px;
        position: relative;
    }
    
    .propos-img img {
        width: 100%;
        height: 20vh;
        position:absolute;
    }

    .services {
        height: 50vh;
        min-height: 100%;        
    }
    .wrapper {
        max-width: 1100px;
        width: 90%;
        height: 40%;
        position: relative;
        margin: auto;
        justify-content: center;
        justify-items: center;
        align-items: center;
        align-content: center;
        
    }
}

@media screen and (max-width:1024px){
    .promotions {
        width: 100vw;
        height: 200vh;
        max-width: auto;
        max-height: auto;
        background-color: #694d45;
        display: flex;
        flex-wrap: wrap;
        margin: auto;
    }

    .propos-msg {
        width: 95%;
        height: 90%;
    }

    .propos-img {
        width: 350px;
        height: 150px;
        position: relative;
    }
    
    .propos-img img {
        width: 100%;
        height: 40vh;
        position:absolute;
    }

}
@media screen and (max-width:900px) {
    /*!=======*HEADER========*/
    .header {
        background-color: aliceblue;
        height: 60vh;
    }

    .a-propos {
        height: 95vh;
        width: 100vw;
        padding-bottom: 70px;
    }
}
@media screen and (max-width:768px) {
    /*!=======*HEADER========*/
    .header {
        background-color: aliceblue;
        height: 40vh;
    }

    #logo a {
        font-size: 20px;
        padding-left: 20px;
    }

    .galerie{
        display: none;
    }

    i.menu-hamburger {
    font-size: 30PX;
    color: #ddbf9c;
    cursor: pointer;
    transition: all 0.2s ease;
    padding-right: 10px;
}

    .header-txt .button{
        font-size: 4svw;
    }
    .a-propos {
        height: 70vh;
        width: 100vw;
        flex-wrap: wrap;
    }

    .propos-img {
        width: 400px;
        height: 200px;
        position: relative;
    }
    
    .propos-img img {
        width: 80%;
        height: 30vh;
        position:absolute;
    }

    .propos-msg {
        width: 95%;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    
   
.msg-txt .button {
    padding: 5px 20px;
    font-size: 2vw;

}

    .msg-txt>h1 {
        font-size: 30px;
    }
    
    .msg-txt>p {
        font-size: 15px;
    }

    .msg-txt .button {
        font-size: 2vw;
    }

    .service-txt {
        height: 7%;
    }
    
    .service-txt h1 {
        font-size: 30px;
    }

    .services {
    padding-bottom: 100px;
        
    }

    .wrapper .carousel {
        grid-auto-columns: calc((100% / 1) - 12px);
    }

    .carousel .card {
        height: 352px;
    }
    

    footer {
        display: none;
    }


}
@media screen and (max-width:425px) {}










    

    
