@media   (orientation:portrait ) {
    /*!=======*HEADER========*/
    .header {
        height: 60vh;
      }

    /*!=======*A PROPOS========*/
    .a-propos {
        height: 40vh;
        width: 100vw;
        max-width: 100%;
        max-height: 100%;
    }

    .propos-img {
        width: 400px;
        height: 200px;
        position: relative;
    }
    
    .propos-img img {
        width: 100%;
        height: 20vh;
        position:absolute;
    }

    .wrapper {
        max-width: 1100px;
        width: 90%;
        height: 40%;
        position: relative;
        margin: auto;
        justify-content: center;
        justify-items: center;
        align-items: center;
        align-content: center;
        
    }

    #galérie {
        width: 100vw;
        height: 50vh;
        max-width: 100%;
        max-height: 100%;
    }

}

@media screen and (max-width:1024px){
    .promotions {
        width: 100vw;
        height: 200vh;
        max-width: auto;
        max-height: auto;
        background-color: #694d45;
        display: flex;
        flex-wrap: wrap;
        margin: auto;
    }

    

}
@media screen and (max-width:900px) {
    /*!=======*HEADER========*/
    .header {
        background-color: aliceblue;
        background-image: url(../images/bg10.jpg);
        height: 65vh;
    }
    .title {
        font-size: 25px;
    }
    .sstitle {
        margin: -20px;
        font-size: 20px;
    }

    #logo {
        margin-left: 20px;
    }

    #logo a {
        font-size: 20px;
    }
    i.menu-hamburger {
        margin-right: 20px;
    }


    /*!=======*A PROPOS========*/
    .a-propos {
        flex-wrap: wrap;
        height: auto;
        padding: 80px 0;
    }
    .propos-msg {
        width: 90%;
        height: 40vh;
    }
    .propos-img {
        width: 90%;
        height: 50vh;
    }
    .propos-img img {
        width: 100%;
        height: 90%;
 }

     /*!=======* SERVICE ========*/
     .wrapper .carousel {
        grid-auto-columns: calc((100% / 2) - 8px);
    }

    /*!=======* FOOTER  ========*/
    footer {
        height: auto;
        padding: 20px 0;
    }

    .part1 {
        height: 80%;
        flex-wrap: wrap;
    }    
    .part2 {
        height: 20%;
        flex-wrap: wrap;
    }
    .Lehahiahangel {
        width: 90%;
    }
    .Lehahiahangel button {
        width: 40%;
        font-size: 20px;
    }
    .Nospages {
        width: 90%;
    }

    .Nouscontacter {
        width: 90%;
    }

    .Horraires {
        width: 90%;
    }

    #galérie {
        display: none;
    }
}
@media screen and (max-width:768px) {
    /*!=======*HEADER========*/
    nav {
        background-color: #483630;
        height: 55px;
        padding: 0;
        position:fixed;
    }

    .scroll {
        background-color: #483630;
        transition: all 0.3s ease;
    }

     /*!=======* SERVICE ========*/
     .wrapper .carousel {
        grid-auto-columns: calc((100% / 1) - 8px);
    }





}
@media screen and (max-width:425px) {}










    

    
