@media (orientation: portrait) {
    /*!
    ==========================================================
        *HEADER
    ==========================================================
    */
    header {
      height: 50vh;
    }
   /*!
    ==========================================================
        *PROMOTE
    ==========================================================
    */
    .Promote {
        height: 10vh;
        width: 100%;
        display: flex;
        justify-content: center;
    }

     /*!
    ==========================================================
        *PROMOTIONS
    ==========================================================
    */

    .promotions {
        display: flex;
        flex-wrap: wrap;
        padding: 0 35px;
        align-items: center;
        justify-content: center;
        min-height: 30vh;
        background-color: #F1DEC9;
        flex-wrap: wrap;
    }
  }


@media screen and (max-width:1024px){
    /*!
    ==========================================================
        *HEADER
    ==========================================================
    */

}
@media screen and (max-width:900px) {
    /*!
    ==========================================================
        *HEADER
    ==========================================================
    */
    header {
        height: 50vh;
        background-image: url(../images/za-2.jpg);
    }

    #logo a {
        font-size: 17px;
        padding-left: 10px;
    }
    .menu-hamburger {
        font-size: 20px;
        padding-right: 10px;
    
    }
    .header-txt .button {
        margin-top: 15px;
        padding: 5px 20px;
        font-size: 15px;
    }

    .wrapper .carousel {
        grid-auto-columns: calc((100% / 2) - 12px);
    }
}

@media screen and (max-width:768px) {
    /*!
    =================================================================================================================================
        *PROMOTE
    =================================================================================================================================
    */
    .Promote {
        height: 10vh;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .promote-box{
        width: 95%;
    }

    img{
        width: 50px;
        height: 40px;
    }

    .box-txt {
        font-size: 8px;
    }

    .wrapper .carousel {
        grid-auto-columns: calc((100% / 1) - 12px);
    }
    
}
@media screen and (max-width:425px) {}
@media screen and (min-height:3080px) {
    header {
        height: 70vh;
        background-image: url(../images/za-2.jpg);
    }
}







