/* ================================================================================================================================
 *GENERAL
 ================================================================================================================================ */

 * {
    border: 0;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

a {
    color: white;
}

*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: #694d45;

}

.revelx,
.revely {
    opacity: 0;
    transform: translate(-30px, -30px);
    transition: opacity 0.3s ease-in, transform 0.3s ease-in;
}

.revelx-visibleX,
.revelx-visibleY {
    opacity: 1;
    transform: translate(0);
}

/* ================================================================================================================================
 *HEADER
 ================================================================================================================================ */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    max-width: 100%;
    height: 60px;
    position: fixed;
    z-index: 9;
    transition: all 0.3s ease;
}

.scroll {
    background-color: #694d45;
    transition: all 0.3s ease;
}

#logo {
    cursor: pointer;
    margin-left: 40px;
}

#logo a {
    font-size: 30px;
    font-family: "Catalish Huntera";
    color: #ddbf9c;
}

#logo span {
    color: white;
}

i.menu-hamburger {
    font-size: 30px;
    color: #ddbf9c;
    cursor: pointer;
    transition: all 0.2s ease;
    margin-right: 40px;
}

.header {
    background-color: aliceblue;
    height: 100vh;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    background-image: url(../images/z1.jpg);
    background-size: cover;
    background-position: left center;
    position: relative;
    z-index: 79;
    color: aliceblue;
    clip-path: polygon(0% 0%, 100% 0, 100% 100%, 51% 90%, 0% 100%);}
    
    .header::before {
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.598);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 40%;
}

.header-txt {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 98vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.title {
    color:#cba880;
    font-size: 90px;
    gap: 10px;
    font-family: "Catalish Huntera";
    display: flex;
    justify-content: center;
}

.title span {
    color: white;
}

.sstitle {
    font-family: 'Quicksand';
    font-weight: lighter;
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.header-txt .button {
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 2px 35px;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #f1dec9;
    color: white;
    font-size: 25px;
    transition: all 0.2s ease-out;
    font-family: 'Quicksand';
    border-radius: 15px;
}

.header-txt .button:hover {
    color: #f1dec9;
    box-shadow: 0 0 10px 5px white;
}

/*!
=================================================================================================================================
      *A PROPOS
=================================================================================================================================
*/
.a-propos {
    height: 95vh;
    width: 100vw;
    max-width: 100%;
    max-height: 100%;
    background-color: #694d45;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 40px;
    margin: auto;
}

.propos-msg {
    width: 50%;
    height: 70%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.msg-txt {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin-top: 30px;
}

.msg-txt>h1 {
    font-size: 50px;
    color: #f1dec9;
    font-family:"Quicksand";
}

.msg-txt>p {
    font-size: 22px;
    color: white;
    font-family:"Quicksand";
    font-weight: lighter;}

.msg-txt>p>span {
    color:#ddbf9c;
    font-weight: bold;
    padding-right: 5px;
    font-size: 20px;
    font-family: "Catalish Huntera";
}

.msg-txt .button {
    display: flex;
    justify-content: center;
    padding: 2px 25px;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #f1dec9;
    color: #f1dec9;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.4s ease-out;
    font-family:"Quicksand";
    border-radius: 15px;
    margin-bottom: 60px;
}

.msg-txt .button a {
    color:#f1dec9;
}


.msg-txt .button:hover {
    color: #f1dec9;
    box-shadow: 0 0 10px 5px white;

}

.propos-img {
    width: 30%;
    height: 70%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;

}

.propos-img img {
    width: 90%;
    height: 70%;
    margin: auto;
    object-fit: cover;
    object-position: center;
    box-shadow: 10px 10px 5px 0px rgba(241,222,201,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(241,222,201,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(241,222,201,0.75);transition: all 0.6s ease-out;
}

.propos-img img:hover {
    transform: scale();
    transition: all 0.6s ease-out;
}
  
a.to-top {
    background-color:#ddbf9c;
    border: 2px solid white;
    position: fixed;
    bottom: 16px;
    right:32px;
    width:50px;
    height:50px;
    border-radius: 50%;
    cursor: pointer;
    font-size:32px;
    text-decoration: none;
    opacity:1;
    animation: action 0.80s infinite alternate;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    z-index: 9999999999999999999;
  }
  @keyframes action {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-15px);
    }
  }
  
  .to-top i {
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 10px auto;
}
/*
=================================================================================================================================
      *Services
=================================================================================================================================
*/
.services {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: auto;
    width: 100vw;
    max-width: 100%;
    max-height: 100%;
    background-color: #F1DEC9;
    flex-wrap: wrap;
    font-family: 'Quicksand';
    gap: 20px;
    padding: 40px 0;
}

.service-txt {
    height: 4%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-txt h1 {
    padding: 20px;
    font-size: 50px;
    color: #694d45;
}

.wrapper {
    width:80vw ;
    height: 65vh;
    max-width: 100%;
    max-height: 100%;
    position: relative;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
}

.wrapper i {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background-color: aliceblue;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
}

.wrapper i:active {
    transform: translateY(-50%) scale(0.85);
}

.wrapper i:first-child {
    left: -22px;
    background-color: #F1DEC9;
    color: #3e2a0f;
}

.wrapper i:last-child {
    right: -22px;
    background-color: #F1DEC9;
    color: #3e2a0f;
}

.wrapper .carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 10px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 10px;
    border-radius: 15px;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel.no-transition {
    scroll-behavior: auto;
}

.carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.carousel.dragging .card {
    cursor: grab;
    user-select: none;
}

.carousel :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel .card {
    scroll-snap-align: start;
    height:100%;
    width: 100%;
    list-style: none;
    background-color: #694d45;
    cursor: pointer;
    flex-direction: column;
    border-radius: 8px;
    overflow: hidden;
    color: white;
}

.carousel .card:hover {
    box-shadow: 5px 5px 5px 0px rgba(252,245,245,0.75);
    -webkit-box-shadow: 5px 5px 5px 0px rgba(252,245,245,0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(252,245,245,0.75);}

.carousel .card .img {
    height:100%;
    width: 100%;
    clip-path: circle(50% at 50% 50%);    
    overflow: hidden;
    padding-top: 30px;
    object-fit: cover;
}

.card .img img {
    width: 250px;
    height:250px;
    clip-path: circle(50% at 50% 50%);    
    object-fit: cover;
    transition: transform .5s;
}

 .card .img img:hover {
    transform: scale(1.1);
}

.carousel .card h2 {
    font-weight: 500;
    font-size: 1.56rem;
    margin: 10px;
}

.carousel .card span {
    color: #6A6D78;
    font-size: 1.31rem;
}

.btnvr {
    margin: 20px 0 ;
    color:white;
    background: transparent;
    font-weight: bold;
    border-radius: 15px;
    padding: 10px 30px;
    font-size: 12px;
    transition: all 0.2s ease-in-out;
    border: 1px solid #f1dec9;   
}

.btnvr:hover {
    color: white;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 0 10px 5px #f1dec9;
    border: 1px solid transparent;
}

#la{
    margin:  0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnv {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 25px;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #3e2a0f;
    color: #3e2a0f;
    font-size: 20px;
    transition: all 0.2s ease-out;
    font-family: 'Quicksand';
    border-radius: 15px;
    font-weight: bold;
    margin: auto;
}

.btnv:hover {
    box-shadow: 0 0 10px 5px #3e2a0f;
    border: 2px solid transparent;
}

/*
=================================================================================================================================
      *Galérie
=================================================================================================================================
*/
#galérie {
    width: 100vw;
    height: auto;
    max-width: 100%;
    background-color: #694d45;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
    font-family: 'Quicksand';
}

.gal-txt {
    height: 10%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10PX 0;
}

.gal-txt h1 {
    font-size: 50px;
    color: #f1dec9;
}

.ma-galerie {
    max-width: 1300px;
    width: 80%;
    height: auto;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    justify-content: center;
    grid-gap: 10px;
}

.gal-box{
   width: 250px;
   height: 200px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius:15px ;
   position: relative;
   overflow: hidden;
}
.gal-box img:hover {
    transform: scale(1.1);
}

.gal-box img
 {
    position: absolute;
    border-radius:15px ;
    height: 100%;
    width: 100%;
    vertical-align: middle;
    display: inline-block;
    transition: transform .5s;
    object-fit: cover;
}



/*
=================================================================================================================================
      *TÉMOIGNAGES
=================================================================================================================================
*/

.TÉMOIGNAGES {
    display: none;
    width: 100vw;
    height: 50vh;
    max-width: 100%;
    background-color: #F1DEC9;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-image: url(../images/bg11.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.TÉMOIGNAGES::before {content: "";
    position: absolute;
    background-color: rgb(0, 0, 0);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 50%;
    backdrop-filter: blur(10px);
}

.TÉMOIGNAGES-txt {
    height: 20%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color:white;
    padding-top: 20px;
}

.TÉMOIGNAGES-txt h1 {
    font-size: 40px;
    color: white;
    z-index: 2;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 20px;
}

.commentaires {
    height: 100%;
    overflow: hidden;
    position: relative;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.slider {
    display: flex;
}

.témoignage {
    width: 100%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    height: 80%;
}

.témoignage{
    width: 60%;
    display: flex;
    margin: auto;
    flex-wrap: nowrap;
}

.temp{
    width: 180px;
    color: white;
}


/*!
=================================================================================================================================
     *FOOTER
=================================================================================================================================
*/

footer {
    height: auto;
    width: 100vw;
    max-width: 100%;
    background-color: #483630;
    color: #F1DEC9;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-family: 'Quicksand';
    padding-bottom: 20px;
}

.part1 {
    height: 80%;
    width: 100vw;
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    font-weight: lighter;
    padding-bottom: 10px;
}


.part2 {
    height: 20%;
    width: 100vw;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.part2 span {
    cursor: pointer;
    padding: 10px 0;
}

.Lehahiahangel {
    display: flex;
    flex-direction: column;
    width: 20%;
    gap: 15px;
    padding: 20px 10px;
}

.Lehahiahangel h1 {
    font-size: 25px;
    color: white;
    font-family: "Catalish Huntera";
}

.Lehahiahangel p {
    font-size: 20px;
}

.Lehahiahangel button {
    display: flex;
    justify-content: center;
    padding: 2px 10px;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #f1dec9;
    color: white;
    font-size: 25px;
    transition: all 0.2s ease-out;
    font-family: 'Quicksand';
    border-radius: 15px;
    width: 200px;
}

.Lehahiahangel button a {
    color: #f1dec9;
}

.Lehahiahangel button:hover {
    color: #f1dec9;
    box-shadow: 0 0 10px 5px white;
}

.Nospages {
    display: flex;
    flex-direction: column;
    width: 10%;
    gap: 15px;
    padding: 20px 10px;
    overflow: hidden;
}

.Nospages h1 {
    font-size:25px;
    color: white;
}

.Nospages a {
    color: #F1DEC9;
    font-size: 20px;
    cursor: pointer;
    transition: 0.2s;
    padding-bottom: 2px;
    transition: all 0.2s ease-in-out;
}

.Nospages a:hover {
    padding-bottom: 2px;
    width: 90%;
    border-bottom: 1px solid #F1DEC9;
}

hr {
    color: white;
    cursor: pointer;
}

.Nouscontacter {
    display: flex;
    flex-direction: column;
    width: 20%;
    gap: 10px;
    padding: 20px 0;
}

.Nouscontacter h1 a{
    font-size: 25px;
    color: white;
}

.Nouscontacter div {
    gap: 20px;
    display: flex ;
    font-size: 20px;
}

.Nouscontacter a.fac{
    padding-right: 10px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    font-weight: lighter;
}

.Nouscontacter i{
    font-size: 25px;
    color: #F1DEC9;
    transition: all 0.1s ease-in-out;
}

.Nouscontacter i:hover{
    color:#694d45;
}

.Horraires {
    display: flex;
    flex-direction: column;
    width: 20%;
    gap: 10px;
    padding: 20px 0;
}

.Horraires h1 {
    font-size: 25px;
    color: white;
}

.Horraires p {
    font-size: 15px;
    font-family: 'Quicksand';

}

.Horraires span {
    padding-left: 20px;
}

.part2 p {
    border-top: 1px solid white;
    padding-top: 10px;
    width: 70%;
    text-align: center;
    margin-top: 20px;
}

.social{
    width: 100%;
    gap: 20px;
    color: #F1DEC9;
}


.social i{
    font-size: 30px;
    padding-right: 10px;
    cursor: pointer;
    color: #F1DEC9;
    transition: all 0.1s ease-in-out;
}

.social i:hover{
    color:#694d45;
}

.part2 p span:hover {
    border-bottom: 1px solid white;
    padding-bottom: 2px;
    transition: 0.2S all ease ;
}



